@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.title {
    font-size: 23px;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffa0a0;
}
